<h1>Invoices</h1>

<ul>
    <% @invoices.each do |invoice| %>
        <li>
            <a href="/invoices/<%= invoice.id %>">
                <%= invoice.title %>
            </a>
        </li>
    <% end %>
</ul>